<html>

<head>
  <% include partials/head %>
</head>

<body>
  <% include partials/header %>

  <div class="index-container">
    <div class="centered"><h2>Mirë se vini në eProkurimi <br></h2><p> Ligjit për Prokurim Publik të Kosovës Nr.04/L-042, është përgjegjëse për zhvillimin, funksionimin dhe mbikqyrjen e përgjithshme të sistemit të prokurimit publik në Kosovë, dhe i ushtron funksionet që i ipen nga ky ligj.</p></div>
  </div>
</body>

</html>
